        <!-- Sidebar -->
        <aside class="w-64 bg-gray-800 text-white overflow-y-auto">
            <nav class="p-4">
                <a href="{{path('homepage')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    Accueil
                </a>
                <a href="{{path('app_user_index')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    User
                </a>
                <a href="{{path('app_language_index')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    Language
                </a>
                <a href="{{path('app_category_index')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    Category
                </a>
                <a href="{{path('app_article_index')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    Article
                </a>
                <a href="{{path('app_review_index')}}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
                    Review
                </a>
            </nav>
        </aside>